<!DOCTYPE html>
<html lang="en" xmlns:Name="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
    <style>
        .rating-stars:hover {
            cursor: pointer;
        }

        @media only screen and (max-width: 600px) {
            .carousel-image {
                width: 400px;
                height: 270px;
            }
        }

        @media only screen and (min-width: 600px) {
            .carousel-image {
                width: 400px;
                height: 320px;
            }
        }

        @media only screen and (min-width: 992px) {
            .carousel-image {
                width: 500px;
                height: 300px;
            }
        }

        @media only screen and (min-width: 1200px) {
            .carousel-image {
                width: 720px;
                height: 330px;
            }
        }
        #map {
            height:100vh;
            width: 100%;
            position: relative;
        }

        .formBlock {
            max-width: 300px;
            background-color: #FFF;
            border: 1px solid #ddd;
            position: absolute;
            top: 10px;
            left: 10px;
            padding: 10px;
            z-index: 999;
            box-shadow: 0 1px 5px rgba(0,0,0,0.65);
            border-radius: 5px;
            width: 100%;
        }

        .leaflet-top .leaflet-control {
            margin-top: 180px;
        }

        .input {
            padding: 10px;
            width: 100%;
            border: 1px solid #ddd;
            font-size: 15px;
            border-radius: 3px;
        }

        #form {
            padding: 0;
            margin: 0;
        }
        input:nth-child(1) {
            margin-bottom: 10px;
        }
    </style>

</head>
<body>
<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="bg-light">
        <div class="container">
            <div class="row pt-3">
                <div class="col col-12 col-lg-6 mt-2">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="border:2px solid gray; border-radius:10px; ">
                            <div class="carousel-item active"
                                 style="border-radius:10px;">
                                <img class="carousel-image d-block w-100" th:src="@{${hotel.getImages()[0]}}"
                                     alt="First slide">
                            </div>
                            <div class="carousel-item" style="border-radius:10px;"
                                 th:each="image : ${hotel.getImages().subList(1,hotel.getImages().size)}">
                                <img class="carousel-image d-block w-100" th:src="@{${image}}" alt="Second slide">
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-lg-6 mt-2" style="border:2px solid darkgray;border-radius: 10px;">
                    <h6 th:if="${hotel.getName()!=null}" th:text="'Name: ' + ${hotel.getName()}"></h6>
                    <h6 th:if="${hotel.getCheckIn() !=null}" th:text="'Check in: ' + ${hotel.getCheckIn()}"></h6>
                    <h6 th:if="${hotel.getCheckOut() !=null}" th:text="'Check out: ' + ${hotel.getCheckOut()}"></h6>
                    <h6 th:if="${hotel.getFacilities() !=null}"
                        th:text="'Facilities: ' + ${hotel.getFacilities()}"></h6>
                    <h6 th:if="${hotel.getRoomFacilities() !=null}"
                        th:text="'Room Facilities: ' + ${hotel.getRoomFacilities()}"></h6>
                    <div id="reserve-modal" title="Reservation info">
                        <h3></h3>
                        <h6 th:if="${hotel.getAddress() !=null}" th:text="'Address: ' + ${hotel.getAddress()}"></h6>
                        <h6 th:if="${hotel.getPhone() !=null}" th:text="'Phone: ' + ${hotel.getPhone()}"></h6>
                        <h6 th:if="${hotel.getFax() !=null}" th:text="'Fax: ' + ${hotel.getFax()}"></h6>
                        <a style="font-size:15px !important; color:blue !important;"
                           th:if="${hotel.getWebsite() !=null}" th:text="${hotel.getWebsite()}"
                           th:href="@{'https://'+${hotel.getWebsite()}}"></a>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="reserve-button btn-info">RESERVE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-2">
                <div class="col col-12 p-2" style="border:2px solid darkgray;border-radius: 10px;">
                    <h6 style="text-align:center">Description</h6>
                    <p class="bg-dark text-white p-3" style="border-radius: 10px;"
                       th:text="${hotel.getDescription()}"></p>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #c2c7c2;">
        <div class="container">
            <div id="leave-review" th:if="${!hasAlreadyRatedTheHotel}" sec:authorize="isAuthenticated()">
                <div class="row">
                    <div class="col col-12 d-flex justify-content-center">
                        <img width="30" height="30" class="rating-stars" number-stars="1"
                             th:src="@{../images/emptyStar.png}"/>
                        <img width="30" height="30" class="rating-stars" number-stars="2"
                             th:src="@{../images/emptyStar.png}"/>
                        <img width="30" height="30" class="rating-stars" number-stars="3"
                             th:src="@{../images/emptyStar.png}"/>
                        <img width="30" height="30" class="rating-stars" number-stars="4"
                             th:src="@{../images/emptyStar.png}"/>
                        <img width="30" height="30" class="rating-stars" number-stars="5"
                             th:src="@{../images/emptyStar.png}"/>
                    </div>
                </div>
                </br>
                <div id="review-section" class="row">
                    <div class="col col-12 d-flex justify-content-center">
                        <input id="review-text" placeholder="Review" type="text" name="reviewText" class="w-100"/>
                        <input type="hidden" name="cityName" th:value="${hotel.getCity().getName()}">
                        <button id="post-review" type="submit" class="btn bg-light">Post</button>
                    </div>
                </div>
                <hr>
                </br>
            </div>
            <div class="row">
                <div class="col col-12">
                    <h4 class="text-left">Comments</h4>
                </div>
            </div>
            <div class="comments">
                <ul class="list-reviews">
                    <li th:each="review : ${reviews}">
                        <div class="row" style="border:2px solid black;background-color:gray;margin-top:2px;">
                            <div class="col col-12 d-flex justify-content-start">
                                <h6 style="margin-top:auto; margin-bottom:auto; color:aqua;"
                                    th:text="${review.getUser().getFirstName()+' '+review.getUser().getLastName()}"></h6>
                                <img th:each="star:${#numbers.sequence(1,review.getStars())}" width="30" height="30"
                                     th:src="@{../images/filledStar.png}"/>
                            </div>
                            <div class="col col-12">
                                <h6 style="color:white;" th:text="${'Review: ' +review.getReviewText()}"></h6>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
     <div class="bg-light">
         <div class="container p-5">
             <div class="row">
                 <div class="col col-12">
                     <div style="border-radius:20px; width:100%; height:400px;" id="map"></div>
                     <div class="formBlock">
                         <form id="form">
                             <input type="text" name="start" class="input" id="start" placeholder="Choose starting point" />
                             <input type="text" name="end" class="input" id="destination" th:value="${hotel.city.name}" placeholder="Choose starting point" />
                             <button  type="submit">Get Directions</button>

                         </form>
                     </div>
                     <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
                     <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>
                     <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>

                 </div>

             </div>
         </div>
     </div>



</th:block>
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
</script>
<script
        src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"
        integrity="sha256-xH4q8N0pEzrZMaRmd7gQVcTZiFei+HfRTBPJ1OGXC0k="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



<script th:inline="javascript">
    const longitude = [[${hotel.getLongitude()}]];
    const latitude = [[${hotel.getLatitude()}]];
    const hotelName = [[${hotel.getName()}]];
    /*var map = L.map('map').setView([longitude, latitude], 10);*/

    /*var map = L.map('map', {
        layers: MQ.mapLayer(),
        center: [longitude, latitude],
        zoom: 12
    })


    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([longitude, latitude]).addTo(map)
        .bindPopup(hotelName)
        .openPopup();*/

   /* function onMapClick(e) {
        marker = new L.marker(e.latlng, {draggable: 'true'});
        marker.on('dragend', function (event) {
            var marker = event.target;
            var position = marker.getLatLng();
            marker.setLatLng(new L.LatLng(position.lat, position.lng), {draggable: 'true'});
            map.panTo(new L.LatLng(position.lat, position.lng))
        });
        map.addLayer(marker);

    };

    map.on('click', onMapClick);*/



    let map = L.map('map', {
        layers: MQ.mapLayer(),
        center: [longitude, latitude],
        zoom: 12
    });

    L.marker([longitude, latitude]).addTo(map)
        .bindPopup(hotelName)
        .openPopup();


    function runDirection(start, end) {

        // recreating new map layer after removal
        map = L.map('map', {
            layers: MQ.mapLayer(),
            center: [longitude, latitude],
            zoom: 12
        });

        var dir = MQ.routing.directions();

        dir.route({
            locations: [
                start,
                end
            ]
        });


        CustomRouteLayer = MQ.Routing.RouteLayer.extend({
            createStartMarker: (location) => {
                var custom_icon;
                var marker;

                custom_icon = L.icon({
                    iconUrl: 'img/red.png',
                    iconSize: [20, 29],
                    iconAnchor: [10, 29],
                    popupAnchor: [0, -29]
                });

                marker = L.marker(location.latLng, {icon: custom_icon}).addTo(map);

                return marker;
            },

            createEndMarker: (location) => {
                var custom_icon;
                var marker;

                custom_icon = L.icon({
                    iconUrl: 'img/blue.png',
                    iconSize: [20, 29],
                    iconAnchor: [10, 29],
                    popupAnchor: [0, -29]
                });

                marker = L.marker(location.latLng, {icon: custom_icon}).addTo(map);

                return marker;
            }
        });

        map.addLayer(new CustomRouteLayer({
            directions: dir,
            fitBounds: true
        }));
    }


    // function that runs when form submitted
    function submitForm(event) {
        event.preventDefault();

        // delete current map layer
        map.remove();

        // getting form data
        start = document.getElementById("start").value;
        end = document.getElementById("destination").value;

        // run directions function
        runDirection(start, end);

        // reset form
        document.getElementById("form").reset();
    }

    // asign the form to form variable
    const form = document.getElementById('form');

    // call the submitForm() function when submitting the form
    form.addEventListener('submit', submitForm);






</script>


<script type="text/javascript">
    $(document).ready(function () {
        var alreadyRated = false;
        $('#review-section').hide();
        $('.rating-stars').click(function () {
            var starClickedValue = $(this).attr('number-stars');
            alreadyRated = true;
            $('#review-section').show();
            $('.rating-stars').each(function () {
                $(this).attr('src', $(this).attr('number-stars') <= starClickedValue ?
                    '../images/filledStar.png' : '../images/emptyStar.png');
            })
        })
        $('.rating-stars').hover(function () {
            var hoveredStarValue = $(this).attr('number-stars');
            $('.rating-stars').each(function () {
                $(this).attr('src', $(this).attr('number-stars') <= hoveredStarValue ?
                    '../images/filledStar.png' : '../images/emptyStar.png');
            })
        }, function () {
            if (!alreadyRated) {
                $('.rating-stars').each(function () {
                    $(this).attr('src', '../images/emptyStar.png');
                })
            }

        })

        function calculateRating() {
            var biggestValue = 0;
            $('.rating-stars').each(function () {
                if ($(this).attr('src') === '../images/filledStar.png' && $(this).attr('number-stars') > biggestValue) {
                    biggestValue = $(this).attr('number-stars');
                }
            })
            return biggestValue;
        }

        $('#post-review').click(function () {
            $.ajax({
                url: "/api/reviews?hotelId=" + '[[${hotel.id}]]' + "&reviewText="
                    + $("#review-text").val() + "&stars=" + calculateRating(),
                type: "GET",
                contentType: 'application/json',
                dataType: 'json',
                success: function (data) {
                    $('#leave-review').hide();
                    $(".list-reviews").empty();
                    for (var i = 0; i < data.length; i++) {
                        $(".list-reviews").append($('<div style="border:2px solid black;background-color:gray;margin-top:2px;" class="row">' +
                            '' +
                            '<div class="col col-12 d-flex justify-content-start" id="stars' + data[i].feedbackId + '">' +
                            '<h6 style="margin-top:auto; margin-bottom:auto; color:aqua;">' + data[i].user.firstName +
                            ' ' + data[i].user.lastName +
                            '</h6>' +
                            '</div>' +
                            '<div class="col col-12">' +
                            '<h6 style="color:white;">Review: ' + data[i].reviewText + '</h6>' +
                            '</div>' +
                            '</div>'));
                        for (var j = 0; j < data[i].stars; j++) {
                            $('#stars' + data[i].feedbackId).append($('<img src="../images/filledStar.png" width="30" height="30"/>'));
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert('You need to log in before leaving review.d');
                }
            });
        });
        var dialog = $('#reserve-modal').dialog({
            autoOpen: false,
            height: 320,
            width: 410,
            modal: true,
            buttons: {
                "Back": function () {
                    dialog.dialog("close")
                }
            },
            close: function () {
                dialog.dialog("close");
            }
        })
        $('.reserve-button').click(function () {
            dialog.dialog("open");
        })
    })
</script>

</body>
</html>
